/* Aqui é onde a estrutura do código HTML é estilizada.
As propriedades em cada bloco estão organizadas da seguinte ordem: 
1. Posicionamento (Onde o elemento se coloca)
2. Modelo de Caixa (Tamanho e espaçamento)
3. Tipografia (Como o texto se comporta)
4. Visual (Cores de fundo, bordas, sombras) */

/* --- Configurações Gerais --- */
body {
  /* não há; re Posicionamento */
  margin: 0; /* re Modelo de Caixa */
  padding: 0;
  color: #333333; /* re Tipografia */
  font-family: Poppins, Helvetica, sans-serif;
  text-align: center;
  background-color: white; /* re Visual */
}

/* Espaçamento do Topo */
#topo-pagina {
  padding: 40px 20px;
}

#topo-pagina h1 {
  margin-bottom: 10px;
  color: #003366;
  font-family: "Lora", Helvetica, sans-serif;
  font-size: 32px;
}

/* Linha divisória discreta */
hr {
  width: 50%;
  margin: 20px auto;
  border: 0;
  border-top: 1px solid #dddddd;
}

/* Container de cada Ponto Turístico */
.ponto-container {
  width: 600px; /* Largura fixa para manter o alinhamento */
  margin: 40px auto; /* Centraliza o bloco na tela e dá espaço entre eles */
  padding: 20px;
}

/* Estilo da Imagem que é Link */
.foto-link {
  display: block;
  width: 100%; /* A imagem ocupa toda a largura do container (600px) */
  height: auto;
  margin-bottom: 20px; /* Espaço entre a foto e o nome abaixo dela */
  border: 1px solid #cccccc;
  border-radius: 15px;
}

/* Efeito visual ao passar o mouse na foto */
.foto-link:hover {
  background-color: #cfb53b;
  opacity: 0.9;
}

/* Estilo do Nome e Descrição */
h2 {
  margin-bottom: 10px;
  color: #003366;
  font-family: "Lora", Helvetica, sans-serif;
  text-align: left;
}

/* Parágrafo padrão */
p {
  color: #666666;
  line-height: 1.5;
}

/* Parágrafo descrição */
p.descricao {
  color: #666666;
  line-height: 1.5;
  text-align: justify;
}

/* Rodapé */
#rodape {
  margin-top: 60px;
  padding: 20px;
  font-size: 12px;
  border-top: 1px solid #eeeeee;
}
